/**
 * ヘッダー
 */
header {
  background-color: #555;
  color: #fff;
  margin-bottom: 2em;
  padding: 2em 0;
}
.page-title {
  font-size: 150%;
}
/**
 * 本文
 */
.input-container {
  margin-bottom: 3em;
}
.input-option {
  padding: 1em 0;
}
.input-option label {
  font-weight: normal;
}
.result-container {
  background-color: #eee;
  margin-bottom: 3em;
  padding: 1em;
}
.result-demo-wrapper {
  background-color: #fff;
  border: 1px solid #999;
  padding: 1em;
}
.main-io {
  border: 2px solid #999;
  width: 100%;
}
/**
 * フッター
 */
footer {
  background-color: #555;
  color: #fff;
  padding: 1em 0;
}
footer a,
footer a:hover,
footer a:focus {
  color: inherit;
}